version: 2

defaults: &image
  docker:
    - image: robojackets/robocup-software:master

jobs:
  build_and_test:
    <<: *image
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: sudo ./util/ubuntu-setup --yes
      - run: make
      - run:
          name: Tests
          command: make test-soccer test-python
      - run:
          name: Coverage
          command: make coverage

  mypy:
    docker:
      - image: python:3
    steps:
      - checkout
      - run: pip3 install r util/requirements3.txt
      - run: make mypy

  pylint:
    docker:
      - image: python:3
    steps:
      - checkout
      - run: pip3 install r util/requirements3.txt
      - run: make pylint

workflows:
  all:
    jobs:
      - build_and_test
      - mypy:
          requires:
            - build_and_test
      - pylint:
          requires:
            - build_and_test
